:root {
    --primary: #458cca;
    --secondary: #64b5f6;
    --light: #f2f4f8;
    --green: #50c878;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--light);
    color: #222;
  }
  
  header {
    position: relative;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    align-items: center;
  }
  
  .logo img {
    max-height: 13vh;
  }

  
  .menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .menu a.cta {
    background-color: var(--secondary);
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .hero {
    background: url('../assets/imagem1.jpg') center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
  
  .btn-primary {
    background-color: var(--green);
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .features {
    display: flex;
    justify-content: wrap;
    gap: 40px;
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .features .feature {
    max-width: 250px;   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  
  .features .feature img {
    width: 200px;
    height: auto;
    margin-bottom: 12px;
    transition: transform 0.3s ease;
  }
  
  .features .feature img:hover {
    transform: scale(1.05);
  }
  
  .contato-home {
    padding: 60px 20px;
    text-align: center;
    background-color: var(--secondary);
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #fff;
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
  }
  
  footer {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.hamburger div {
    height: 4px;
    background-color: #153e92;
    border-radius: 5px;
}
header {
    position: relative; /* ESSENCIAL */

}
  
  @media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--primary);
      width: 100%;
      padding: 10px 20px;
      border-radius: 0 0 8px 8px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 999;
    }
  

    .menu.active {
      display: flex;
    }
  
    .menu a {
        padding: 12px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    
      .menu a:last-child {
        border-bottom: none;
      }
    
      .hamburger {
        display: flex;
        align-self: flex-end;
        margin: 10px 20px 5px 0;
      }
    }
  