:root {
    --bg-color: #AAB8F0;
}


    body {
        background: #AAB8F0;
        transition: background-color 0.5s;
        margin: 0;
        font-family: Arial, sans-serif;
        color: #031231;
    }

header {
    background: #AAB8F0;
    color: rgb(70, 95, 120);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
    position: relative;
}

header .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #031231;
}

.logo img {
    height: 80px; 
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 24px;
    font-weight: bold;
    color: #fff; 
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #031231;
    font-weight: 600;
    transition: color 0.3s;
}

.menu a:hover {
    color: rgb(94, 3, 94);
    text-decoration: underline;
    text-transform: uppercase;
}

.menu label {
    margin-left: 10px;
}

.menu select,
.menu input[type="checkbox"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: white;
    color: #031231;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.hamburger div {
    height: 4px;
    background-color: #153e92;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #AAB8F0;
        flex-direction: column;
        width: 220px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner #image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #AAB8F0;
    color: white;
    text-align: center;
    padding: 10px;
}

 
/*QUIZ*/
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 0; 
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 8px; 
}

.app h1{
    font-weight: 25px;
    color: #8dafeb;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
 
#container-quiz{
    background-image:radial-gradient(#8980BF, #8dafeb) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.quiz{
   padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
 
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
 
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
 

/*CONTATO*/
.contato {
    background-color: #ddd;
}

.contato-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
} 

.formulario-contato {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-contato input [type="text"],
.formulario-contato input [type="email"],
.formulario-contato textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.formulario-contato textarea {
    resize: vertical;
    min-height: 100px;
}

.formulario-contato button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
    border-radius:5px;
}